.pagination{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pagination button{
  margin:2px;
  margin-top: 50px;
  padding:5px;
  width:30px;
  border-radius: 50%;
  border: 2px solid #556B2F;
  font-size: 15px;
  cursor: pointer;
  background-color:#faebd7;
  font-family: serif;
  font-weight: bold;
}

.pagination button:hover {
  box-shadow: 0 2px 4px 0;
}
